.App {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

img {
  width: 200px;
  height: auto;
  transition: all 0.5s;
}
img:hover {
  /* width: 200px; */
  /* height: auto; */
  transform: scale(1.1);
}

.products {
  /* width: 600px; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
.product {
  width: 200px;
  border: 1px solid grey;
  padding-bottom: 10px;
  overflow: hidden;
}
.kart-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.kart-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid grey;
  padding: 10px;
}
.kart-title {
  border-bottom: 2px solid black;
}
/* button {
  width: 200px;
} */

.num-of-prods-in-kart {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 10px;
}
