.App {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s;
}
img:hover {
  /* width: 200px; */
  /* height: auto; */
  transform: scale(1.1);
}

.products {
  /* width: 600px; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
.product {
  width: 200px;
  border: 1px solid grey;
  padding-bottom: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.kart-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.kart-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid grey;
  padding: 10px;
}
/* .kart-title {
  border-bottom: 2px solid black;
} */

.num-of-prods-in-kart {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 10px;
}
.kart-heading {
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.kart {
  margin-bottom: 50px;
}

.kart-title {
  position: relative;
  right: 35%;
}
.change-buttons {
  position: absolute;
  right: 45%;
}
.price-para {
  position: absolute;
  right: 15%;
}

@media (max-width: 900px) {
  .products {
    /* width: 600px; */
    display: grid;
    grid-template-columns: auto auto;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .product {
    width: 150px;
  }
  .kart-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: auto;
    /* margin-left: 100px;
    margin-right: 100px; */
    border: 1px solid grey;
    padding: 10px;
  }
  .kart-title {
    position: relative;
    right: 0%;
  }
  .change-buttons {
    position: relative;
    right: 0%;
  }
  .price-para {
    position: relative;
    right: 0%;
  }
}
